    /* -----------0------------*/
    /* Reseteo */
    /*     * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 62, 5%;*/
    /*10px*/
    /*  width: 100%;
    } */

    /* MOBILE FIRST, continúa en sección "Destinos"*/
    /* @media only screen and (min-width: 600px) {
        body {
            background-color: rgb(233, 190, 105);
        }
    } */

    /*     @media only screen and (min-width: 1024px) {
        body {
            background-color: rgb(176, 206, 188);
        }
    } */

    @media only screen and (min-width: 1200px) {
        body {
            background-color: rgb(255, 255, 255);
        }
    }

    /* 
    DESAFÍO 8 
    Animación de fade-in de las páginas */

    /* Fade "explora" todas las páginas */
    /*     .animate__animated.animate__fadeIn.fadeExplora {
        --animate-duration: 2s;
    } */

    /* Fade "descubre" todas las páginas */

    /*     .animate__animated.animate__fadeIn.fadeDescubre {
        --animate-duration: 3s;
    } */

    /* Fade h1 todas las pág. */
    /*     .animate__animated.animate__fadeIn.hexaTitle {
        --animate-duration: 4s;
    }
 */
    /* Fade cita del Index */
    /*     .animate__animated.animate__fadeIn.quoteFade {
        --animate-duration: 6s;
    } */

    /*    #grad {
        background-image: linear-gradient(to top, orange, violet);
    } */

    /* Escalar Logo e interfaces hexazonales */

    /*     .navbar__link--logo :hover {
        transition: all 2s;

        transform: scale(80%, 80%);
    }

    .secQuienesHexaImg :hover {
        transition: all 1s;

        transform: scale(125%, 125%);
    } */

    /* -----------0------------*/
    /* WEB EN GRAL. */
    /* imagen de fondo */
    /*     body {
        background-image: url("../img/bGhexagonVector.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        height: 100%;
        margin-top: 2rem;
    } */

    /* .headerFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 90%;
    } */

    /* Disposición h1 y p del header del Index */
    /*     .innerHeader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        z-index: 5;
        width: 100%;
    } */

    /* Disposición del footer */
    /*     footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        width: 100%;
    } */

    /* Disposición del main de secciones haxaxazonales, Quienes somos y Destinos */
    /*     #mainHexaQuiDest {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 50%;
        width: 100%;
    } */

    /* ----------------------------------------- */
    /*     /* Disposición de los NAV */
    /*     nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        z-index: 3;
    }
 */
    /* Saca bullets de listas desordenadas (navBar) y pone en línea */
    /*     ul {
        list-style-type: none;
        font-family: "Oxygen", sans-serif; */
    /* font-family: 'Roboto Mono'; */
    /* text-align: center; */

    /* Ubica cada li en un item del contenedor ul con flexbox */
    /*         display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        z-index: 3;
        width: 100%;
    } */

    /*     ul li {
        letter-spacing: 0.2rem;
        color: #47464393;
    }
 */
    /* Cambia color posando mouse.
    clase creada en principio para pág."Contactos" con Bootstrap */
    /*     .navbar__nav-item--color :hover {
        color: rgb(167, 62, 228);
    } */

    /* Submenú */
    /*     ul ul {
        position: absolute;
        display: none;
    }
 */
    /*     ul ul li {
        display: block;
        
    } */

    /*     ul li:hover ul {
        display: block;
    } */

    /* Estilos de los Ul de modales en "Destinos" */
    /*    .UlModal {
         display: block;
        list-style-type: none;
        font-family: "Oxygen", sans-serif;
        /* font-family: 'Roboto Mono'; */
    /*  text-align: center;
    } */

    /* Subtítulos Explora y Descubre NAV superior */
    /*     #titleCompOne {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin: 1rem;
    } */

    /*     #titleCompTwo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin-left: 4rem;
    }
     */
    /* FOOTER anchors de redes sociales y derechos reservados */

    /* Con este width las img envían a los li debajo, wrap */
    /*     #aIg {
        width: 95%;
        padding-left: 1rem;
    } */

    /* Con este width los li envían al item p debajo, wrap */
    /*     nav p {
        width: 700px;
    }  */

    /* ------------------------------------- */
    /* Estilos títulos H1 en gral. */
    /*     h1 {
        color: #7a7771;
        font-family: "Megrim";
        font-weight: bold;
        font-size: 5rem;
    } */

    /* Títulos h1 y navbar__link--logo de las páginas menos del Index*/
    /*     .separateTitlesnavbar__link--logo {
        padding: 3rem;
        width: 100%;
    } */

    /* Estílos párrafos en gral. */
    /*     p {
        color: #9583a3;
        font-family: "MuseoModerno", cursive;
        font-size: 1.2rem;
        word-spacing: 0.1rem;
        line-height: 2rem;
        text-align: center;
    } */

    /* Estílos anchors en gral.*/
    /*     a {
        text-decoration: none;
        color: #4746439d;
    }
 */
    /* Línea divisoria de secciones */
    /*     hr {
        border: 2px solid rgb(170, 163, 163);
    } */

    /* -----------0---------------------------------------- */
    /* Pág INDEX */
    /* Img del body del Index */
    /*     #indice {
        background-image: url("../img/bGhexagonVector.png");
        background-size: inherit;
        background-repeat: no-repeat;
        background-position: right;
        height: 100%;
        margin-top: 2rem;
    } */

    /* Estilos h2 y span de subtítulos dek INDEX*/
    /*     .estilosH2ySpan {
        color: #7a7771;
        font-family: "Oxygen", sans-serif;
        font-weight: bold;
    }
 */
    /* Estilos h1 HexaZonal del Index */
    /*     .hexaTitle {
        width: 70%;
        margin: 1rem 4rem 4rem 1rem;
        font-size: 14rem;
        z-index: 2;
    } */

    /* Cita del Index*/
    /*     .introQuote {
        text-align: center;

        width: 80%;
        margin-bottom: 4rem;

        z-index: 1000;

        color: #251031b6;
        font-size: 2rem;
        font-weight: bold;
        text-transform: lowercase;

        letter-spacing: 0.3rem;
        word-spacing: 0.5rem;
        line-height: 3rem;
        font-family: "Megrim";
        font-style: oblique;
    } */

    /* -----------0------------------------------------------ */
    /* Pág QUIÉNES SOMOS */

    /*     #sectionQuienes {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    } */

    /* Clase aplicada aquí y también a img en sección "Hexazonales" */
    /*     .secQuienesHexaImg {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 10%;
    } */

    /* -----------0------------------------------------------ */
    /* Pág. HEXAZONALES */
    /*     #galeriaHexa {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    } */

    /* Clase .secQuienesHexaImg aplicada aquí */

    /* -----------0-------------------------------------------- */
    /* Pág. DESTINOS */
    /* Está sección se encuentra en reestructuración con Bootstrap */

    /* Container padre */
    /* #galeriaDestinos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        height: 100%;

    } */

    /* Container hijo */
    /* .secDestinosVid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    } */

    /*     .btn-light {
        background-color: transparent;
        border-color: rgba(234, 71, 255, 0.267);
        color: rgba(176, 206, 188, 0);
    } */

    /*     .btn-light:hover {
        background-color: blue;
        transition: all 1s;

        transform: scale(125%, 125%);
        border-color: rgba(68, 63, 38, 0.466);
        
    } */

    /* Da espacios entre secciones y galería de destinos */
    /*     .main__div--espacio {
        padding: 2rem 2rem 8rem 2rem;
    }

    /* Estilos cuerpo del modal */
    /*     .modal-content {
        background-color: rgba(255, 214, 127, 0.562);
        z-index: 0;
 */
    /*         background-image: linear-gradient(to top,
                rgba(245, 186, 247, 0.788),
                rgba(238, 181, 95, 0.301));
        border-radius: 15px;
    } */

    /* Titúlos de modales */
    /*     .modal-title {
        font-family: "Megrim", cursive, Oxygen, sans-serif;
        font-weight: bolder;
        font-size: 40px;
    }  */

    /* Secciones nav, header y main modelada con GRID <<<<<<<<<----------- */

    /* #grilla {

        display: grid;
        grid-template-areas:


            "nav    nav     nav     nav "
            "nav    nav     nav     nav"
            "header header header header "
            "vid    vid     vid     vid"
            "fot    fot     fot    fot "

        ;

        grid-template-rows: 50px 50px 1fr 1fr 80px;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 5px;
        grid-column-gap: 10px;

        margin-bottom: 100px;
        height: 100vh;
        width: 100vw;
        margin-left: 2rem;

    }

    nav {
        grid-area: nav;
    }

    header {
        grid-area: header;
    }

    /* main {
        grid-area: vid;

    } */

    /* footer {
        grid-area: fot;

    } */

    /* ++++++++++++++MEDIA QUERY reubicación de sección "Destinos" ++++++++*/
    /* @media only screen and (max-width:768px) {
        #grilla {

            display: grid;


            grid-template-areas:
                "nav"
                "nav"
                "header"
                "vid"
                "vid"
                "fot"
                "navinf"
                "navinf";



            padding: 10%;


            grid-template-columns: 400px;
            grid-template-rows: 50px 50px 8rem 1fr 1fr 8rem 50px 50px;
            height: 100%;
        }
    */

    /* cambia disposición de imagen de fondo */
    /*     body {
        background-image: url("../img/bGhexagonVector.png");
        background-size: inherit;
        background-repeat: no-repeat;
        background-position: right;
        margin-top: 2rem;
        height: 100%;
    } */

    /* .navbar__link--logo {

            transform:  scale(50%, 50%);
        } */

    /* Se ponen en column los videos */
    /* #galeriaDestinos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            /* height:100%;
            width:100%;
            


        } */

    /* footer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;



        }

        #navinf {
            grid-area: navinf;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            z-index: 3;

        } */

    /* #aIg {
            width: 10%;
            padding: 0%;
        }





    }
    */

    /* Estilos tablas */
    /* .table {

        color: #9583a3;
        background-color: rgb(248, 237, 171);
        justify-content: space-around;
        /* margin-left: 35rem; */
    /* margin-top: 2rem; */
    /* margin-bottom: 1rem; 
    }

    .tableTitleStyle {
        color: #7a7771;
    }

    table ol li {
        margin-left: 30px;
        padding: 5px;
        text-align: center;
    } */

    /* -----------0---------------------------------------- */
    /* Pág. CONTACTO */

    /* Estilos generales contacto */
    /* .fieldContactStyle {
        color: #5b4f64;
        font-weight: lighter;
        background-image: linear-gradient(to top,
                rgb(245, 186, 247),
                rgba(238, 181, 95, 0.301));

        display: inline-block;
        margin-bottom: 1rem;
        padding: 2rem;
    } */

    /* Titulo contactanos */
    /* .separateTitles {
        padding: 2rem;
    } */

    /* Estilos generales inputs*/
    /* input {
        display: block;
        margin-top: 1rem;
        border-radius: 3%;
    } */

    /* Estilos desplegable */
    /* .mySelect {

        margin: 1rem auto;


        letter-spacing: 0.12rem;

    } */

    /* Cuadro de comentarios */
    /* .inputComments {
        width: 100%;
        height: 5rem;
        border-radius: 3%;
        margin: 1rem auto;
    } */

    /* Botones */
    /* .inputButton {
        display: block;
        color: #71647a;
        width: 100%;
        margin-top: 1rem;
        font-family: "Oxygen", sans-serif;
        letter-spacing: 0.12rem;
        word-spacing: 0.15rem;
        border-color: rgba(253, 251, 253, 0.945);

        border-style: groove;
        border-width: 0.2rem;
        border-radius: 7px;
    } */

    /* Estilos botón del desplegable del form y de modales "destinos"*/
    /*     .btn-secondary {
        display: block;
        color: #71647a;
        width: 100%;

        font-family: "Oxygen", sans-serif;
        letter-spacing: 0.12rem;
        word-spacing: 0.15rem;
        border-color: rgba(253, 251, 253, 0.945);
        background-image: linear-gradient(to top,
                rgb(245, 186, 247),
                rgb(238, 229, 178));

        border-style: groove;
        border-width: 0.2rem;
        border-radius: 7px;
    } */

    /* Espaciado del botón select del form */
    /*     .btnForm {
        margin: 1rem 1rem 1rem 0rem;
    }
 */
    /* Gradiente para hover de los botones */
    /*     .inputButton:hover,
    .btn-secondary:hover {
        border-color: rgb(236, 176, 63);
        color: #71647a;
        background-image: linear-gradient(to top,
                rgb(247, 221, 175),
                rgb(243, 178, 243));
    } */

    /* Estilos de bordes*/
    /*     .borderStyles {
        border-radius: 3%;
        border-top: none;
        border-left: none;
        border-right: rgba(255, 244, 141, 0.438);
        border-bottom: rgba(255, 244, 141, 0.438);
        border-style: outset;
        border-width: 0.2rem;
    } */

    /* Mis estilos para las fuentes del formulario */
    /*     .fontsForm {
        font-family: "Oxygen", sans-serif;
        letter-spacing: 0.12rem;
    }
 */
    /* Media Querys */

    /* Cambia el color de fondo y reduce el tamaño del título */
    /*     @media only screen and (max-width: 570px) {
        body {
            background-color: rgb(233, 190, 105);
        }

        .smallMediaQTitles {
            font-size: 48px;
            margin-left: 0px;
        }
    } */

    /* pasando a medium cambia el color de fondo, aumenta el tamaño del título, posiciona diferente */
    /*     @media only screen and (min-width: 570px) {
        body {
            background-color: rgb(253, 252, 251);
        }

        .headerContact {
            padding: 3rem;
            width: 100%;
        }
    } */