@charset "UTF-8";
/* Styles */
/* ---------------------------------------- */
/* Gradiente para cuerpo del form en contactos */
/* ESTILOS GENERALES */
/* ---------------------------------------- */
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62, 5%;
  width: 100%; }

.body__home--backGround, .body__contacto--backGround, .body__quienes--backGround, .body__hexa--backGround, .body__destinos--backGround, .body__contactos--backGround {
  background-image: url(../imagenes/shinyOverlayCinco.svg);
  z-index: 0;
  background-size: cover; }

.main__div--backTextQs {
  position: absolute;
  padding-top: 1rem;
  -webkit-transform: scaleX(3) scaleY(10);
  transform: scaleX(2.3) scaleY(10);
  z-index: -999;
  opacity: 0.3;
  color: antiquewhite;
  padding-left: 19rem; }

.main__div--backTextCont {
  position: absolute;
  padding-top: 1rem;
  -webkit-transform: scaleX(3) scaleY(10);
  transform: scaleX(2.3) scaleY(10);
  z-index: -999;
  opacity: 0.3;
  color: antiquewhite;
  padding-left: 19rem;
  padding-top: 0.5rem;
  -webkit-transform: scaleX(2.5) scaleY(7);
  transform: scaleX(2.5) scaleY(7);
  padding-left: 12rem; }

/* ---------------------------------------- */
/* ANIMACIONES */
.animate__animated.animate__fadeIn__index__titulos--fade-1 {
  --animate-duration: 2s + $i; }

.animate__animated.animate__fadeIn__index__titulos--fade-2 {
  --animate-duration: 2s + $i; }

.animate__animated.animate__fadeIn__index__titulos--fade-3 {
  --animate-duration: 2s + $i; }

.animate__animated.animate__fadeIn__index__titulos--fade-4 {
  --animate-duration: 2s + $i; }

/* ---------------------------------------- */
/* NAVBAR */
/*   Animación navbar__logo */
.navbar__link--logo:hover {
  transition: all 2s;
  transform: scale(80%, 80%); }

.nav__toggler--myStyles:focus {
  text-decoration: none;
  /* outline: 0; */
  color: rgba(94, 205, 50, 0.685);
  box-shadow: 0 0 0 0.1rem; }

.nav__ul--color :hover {
  color: #a73ee4;
  text-shadow: -6px -1px 6px #e1acee; }

/* ---------------------------------------- */
ul {
  list-style-type: none;
  font-family: "Oxygen", sans-serif;
  text-align: center;
  /* Ubica cada li en un item del contenedor ul con flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 3;
  width: 100%; }
  ul li {
    letter-spacing: 0.2rem;
    color: #7a7771c7; }

/* EACH  -- Estilos en SPAN  debajo de NAVBAR 
de todas las páginas */
#span__uno--posestilos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  color: #79564696;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  color: transparent;
  background: #997a41;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  margin-left: 1rem; }

#span__dos--posestilos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  color: #79564696;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  color: transparent;
  background: #997a41;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  margin-left: 4rem; }

/* ---------------------------------------- */
/* Estilos títulos H1 en gral. */
h1 {
  color: #7a7771;
  font-family: "Megrim";
  font-weight: bold;
  font-size: 6rem;
  text-shadow: -6px -1px 6px #deb576; }

/* ---------------------------------------- */
/* Estílos párrafos en gral. */
p {
  color: #9583a3;
  font-family: "MuseoModerno", cursive;
  font-size: 1.2rem;
  word-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center; }

/* ---------------------------------------- */
/* Estílos anchors en gral.*/
a {
  text-decoration: none;
  color: #2e2e2c;
  text-shadow: -6px -1px 6px #deb576; }

/* ---------------------------------------- */
/* MAP - con colores de sombra para botones de rrss */
/* FOOTER anchors de redes sociales y derechos reservados */
.footer__div--payment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 10rem;
  padding-left: 2rem; }

.footer__div--rrss {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px; }

.footer_a--Fb {
  border-radius: 15px;
  background: linear-gradient(145deg, #38929e, #ddffff);
  box-shadow: 5px 5px 5px #143c42, -5px -5px 5px #eeffff;
  opacity: 0.5; }

.footer_a--Ig {
  border-radius: 15px;
  background: linear-gradient(145deg, #38929e, #ddffff);
  box-shadow: 5px 5px 5px #143c42, -5px -5px 5px #eeffff;
  opacity: 0.5;
  background: linear-gradient(145deg, rgba(196, 61, 196, 0.253), rgba(225, 155, 243, 0.952));
  box-shadow: 5px 5px 5px #7a5491, -5px -5px 5px #eeffff; }

/* ---------------------------------------- */
/* MEDIA QUERYS GENERALES*/
@media only screen and (max-width: 1500px) {
  .main__div--backTextQs {
    padding-top: 0.5rem;
    -webkit-transform: scaleX(2) scaleY(9);
    transform: scaleX(1.7) scaleY(9);
    padding-left: 15rem; }
  .main__div--backTextCont {
    padding-top: 0.5rem;
    -webkit-transform: scaleX(2) scaleY(9);
    transform: scaleX(1.7) scaleY(9);
    padding-left: 15rem;
    -webkit-transform: scaleX(1.8) scaleY(7);
    transform: scaleX(1.8) scaleY(7);
    padding-left: 12rem; } }

@media only screen and (max-width: 1300px) {
  .main__div--backTextQs {
    padding-top: 0.5rem;
    -webkit-transform: scaleX(2) scaleY(9);
    transform: scaleX(1.7) scaleY(9);
    padding-left: 12rem; }
  .main__div--backTextCont {
    padding-top: 0.5rem;
    -webkit-transform: scaleX(2) scaleY(9);
    transform: scaleX(1.7) scaleY(9);
    padding-left: 12rem;
    -webkit-transform: scaleX(2) scaleY(9);
    transform: scaleX(1.8) scaleY(7);
    padding-left: 12rem; } }

@media only screen and (max-width: 1200px) {
  .main__div--backTextQs {
    padding-top: 0.5rem;
    -webkit-transform: scaleX(2) scaleY(9);
    transform: scaleX(1.4) scaleY(9);
    padding-left: 12rem; }
  .main__div--backTextCont {
    padding-top: 0.5rem;
    -webkit-transform: scaleX(2) scaleY(9);
    transform: scaleX(1.4) scaleY(9);
    padding-left: 12rem;
    -webkit-transform: scaleX(1.5) scaleY(7);
    transform: scaleX(1.5) scaleY(7);
    padding-left: 10rem; } }

@media only screen and (max-width: 1024px) {
  .main__div--backTextQs {
    padding-top: 0.5rem;
    -webkit-transform: scaleX(1.4) scaleY(9);
    transform: scaleX(1.3) scaleY(9);
    padding-left: 9rem; }
  .main__div--backTextCont {
    padding-top: 0.5rem;
    -webkit-transform: scaleX(1.4) scaleY(9);
    transform: scaleX(1.3) scaleY(9);
    padding-left: 9rem;
    -webkit-transform: scaleX(1.8) scaleY(8);
    transform: scaleX(1.5) scaleY(7);
    padding-left: 8rem; } }

@media only screen and (max-width: 992px) {
  .main__div--backTextCont {
    -webkit-transform: scaleX(1) scaleY(7);
    transform: scaleX(1.3) scaleY(7);
    padding-left: 2.5rem;
    margin-left: 0rem; } }

@media only screen and (max-width: 768px) {
  .main__div--backTextQs {
    padding-top: 0.2rem;
    -webkit-transform: scaleX(1) scaleY(7);
    transform: scaleX(1.3) scaleY(7);
    padding-left: 4.2rem; }
  .main__div--backTextCont {
    padding-top: 0.2rem;
    -webkit-transform: scaleX(1) scaleY(7);
    transform: scaleX(1.3) scaleY(7);
    padding-left: 4.2rem; }
  .body p {
    color: #e2b045; }
  .body__home--backGround {
    background-image: url("../imagenes/shinyOverlayOscuroCuatro.svg");
    background-size: inherit; }
  nav ul li {
    letter-spacing: 0.2rem;
    color: #4b4a458e; }
    nav ul li:hover {
      color: #e7cef5; }
  #span__uno--posestilos,
  #span__dos--posestilos {
    display: none; }
  .header__h1--reduceSizeMq {
    font-size: 4rem;
    margin-left: 0px;
    color: #b3a593; }
  .nav__toggler--myStyle {
    border-width: 2px;
    border-color: #ecb848;
    box-shadow: 0 0 0 0.1rem rgba(205, 169, 50, 0.685); }
    .nav__toggler--myStyle:focus {
      text-decoration: none;
      color: rgba(205, 169, 50, 0.685);
      box-shadow: 0 0 0 0.2rem; }
    .nav__toggler--myStyle:hover {
      background-image: linear-gradient(to top, rgba(203, 79, 228, 0.678), #ecb35d); }
  .navbar-toggler-icon :hover {
    background-image: url("../imagenes/menuHambWhite.png"); } }

@media only screen and (max-width: 576px) {
  .body__quienes--backGround, .body__hexa--backGround, .body__destinos--backGround, .body__contacto--backGround {
    background-image: url("../imagenes/LogoHexaSimple.png"), url("../imagenes/shinyOverlayOscuroCuatro.svg");
    background-size: inherit, cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin-top: 2rem;
    z-index: 10; }
  nav ul li {
    letter-spacing: 0.2rem;
    color: #eba52d; }
    nav ul li:hover {
      color: #e7cef5; } }

/* Pág INDEX */
/* ---------------------------------------- */
.header__H1--style {
  width: 100%;
  font-size: 12rem;
  z-index: 2;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-shadow: -6px -1px 6px #deb576; }

.main__div--logoStyle {
  padding: 3rem; }

.footer_a--Fb, .footer_a--Ig {
  margin-bottom: 1rem; }

footer div ul li {
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #363636; }

li {
  display: list-item;
  text-align: -webkit-match-parent; }

.footer__ul--itemsStyle {
  font-family: "Oxygen", sans-serif;
  color: #7a7771c7;
  letter-spacing: 0.2rem; }
  .footer__ul--itemsStyle:hover {
    color: #4e4a42; }
  .footer__ul--itemsStyle:focus {
    outline: 0;
    box-shadow: none; }

footer div ul li:hover {
  color: #c335ee; }

#index__footer--style {
  height: 100%;
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding-top: 2rem;
  background-image: linear-gradient(to top, rgba(247, 221, 175, 0.212), rgba(243, 178, 243, 0.144));
  box-shadow: 0 1.5rem 1rem rgba(131, 126, 133, 0.623); }

.div__footer--copyright {
  padding-top: 0.5rem; }

/* ---------------------------------------- */
/*    MEDIA QUERYS INDEX */
@media only screen and (max-width: 992px) {
  .header__H1--style {
    font-size: 8rem;
    margin-bottom: 3rem; }
  .main__div--logoStyle {
    padding: 2rem; } }

@media only screen and (max-width: 768px) {
  /* Disminuye tamaño de titulo hexaZonal 
                y párrafo en break 768px -INDEX */
  .header__H1--style {
    font-size: 4rem;
    color: #c335ee;
    margin-bottom: 5rem; }
  .main__div--logoStyle {
    padding: 3rem; }
  .footer__ul--itemsStyle {
    color: orange; }
    .footer__ul--itemsStyle:hover {
      color: #c335ee; }
    .footer__ul--itemsStyle:focus {
      outline: 0;
      box-shadow: none; }
  footer div ul li {
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #e1c1f7; }
  #index__footer--style {
    padding: 2rem;
    background-image: none;
    box-shadow: none; } }

/* Pág QUIÉNES SOMOS */
/* ------------------------------------------ */
.quienesSomos p {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  color: #2e1a33;
  font-family: "Megrim";
  font-weight: bolder;
  font-size: 1.5rem;
  color: #353434;
  text-shadow: 0 0 5px #fae9b9, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #dfdfdf, 0 0 30px #f2e4ae, 0 0 40px #f0c976, 0 0 55px #facd7a, 0 0 75px #b143ff; }

.main__div--contFiveFont {
  font-size: 10rem;
  font-family: "Megrim";
  color: #a339c4;
  text-shadow: -6px -1px 6px #e1acee;
  z-index: 15; }

.nav--sticky {
  position: sticky;
  top: 0;
  z-index: 18; }

.div__cont--scrollStopOneFirst {
  position: absolute;
  margin-top: 10rem;
  z-index: -1;
  height: 120vh;
  margin-top: 3rem; }

.div__cont--scrollStopOneSec {
  position: absolute;
  margin-top: 10rem;
  z-index: -1;
  height: 83vh; }

.div__cont--scrollStopTwo {
  position: absolute;
  margin-top: 10rem;
  z-index: -1;
  height: 75vh; }

.div__cont--scrollStopThree {
  position: absolute;
  margin-top: 10rem;
  z-index: -1;
  height: 86vh; }

.div__cont--scrollStopFour {
  position: absolute;
  margin-top: 10rem;
  z-index: -1;
  height: 85vh; }

.div__cont--scrollStopFive {
  position: absolute;
  margin-top: 10rem;
  z-index: -1;
  height: 100vh;
  z-index: 16;
  width: 100%; }

.main__div--contOne {
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  z-index: 2;
  border-radius: 24px;
  box-shadow: 40px 40px 80px #aca893, -10px -3px 80px #aca893;
  height: 70vh;
  margin-top: 3rem;
  background-image: url("../imagenes/quienesSomosUnoMin.jpg"); }

.main__div--contTwoFirst {
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  z-index: 2;
  border-radius: 24px;
  box-shadow: 40px 40px 80px #aca893, -10px -3px 80px #aca893;
  height: 70vh;
  background-image: url("../imagenes/quienesSomosDosMin.jpg"); }

.main__div--contTwoSec {
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  z-index: 2;
  border-radius: 24px;
  box-shadow: 40px 40px 80px #aca893, -10px -3px 80px #aca893;
  height: 70vh;
  background-image: url("../imagenes/quienesSomosDosMin.jpg");
  padding-top: 2rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.main__div--contThree {
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  z-index: 2;
  border-radius: 24px;
  box-shadow: 40px 40px 80px #aca893, -10px -3px 80px #aca893;
  height: 70vh;
  background-image: url("../imagenes/quienesSomosTresMin.jpg");
  background-position-y: 70%; }

.main__div--contThreeSec {
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  z-index: 2;
  border-radius: 24px;
  box-shadow: 40px 40px 80px #aca893, -10px -3px 80px #aca893;
  height: 70vh; }

.main__div--contFourOne {
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  z-index: 2;
  border-radius: 24px;
  box-shadow: 40px 40px 80px #aca893, -10px -3px 80px #aca893;
  height: 70vh;
  background-image: url("../imagenes/quienesSomosCuatroMinComp50.jpg");
  background-position-x: left;
  background-position-y: 50%;
  background-size: 220%; }

.main__div--contFourTwo {
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  z-index: 2;
  border-radius: 24px;
  box-shadow: 40px 40px 80px #aca893, -10px -3px 80px #aca893;
  height: 70vh;
  background-image: url("../imagenes/quienesSomosCuatroMinComp50.jpg");
  background-position-x: right;
  background-position-y: 50%;
  background-size: 185%; }

.main__div--contFive {
  background-position: center;
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4rem;
  z-index: 2;
  border-radius: 24px;
  box-shadow: 40px 40px 80px #aca893, -10px -3px 80px #aca893;
  height: 70vh;
  height: 80vh;
  background-image: url("../imagenes/quienesSomosSeis.jpg");
  background-position-y: 60%; }

.main__div--pOne {
  position: sticky;
  position: -webkit-sticky;
  top: 10rem;
  z-index: 1;
  display: flex;
  height: 2rem;
  margin-top: 20rem;
  justify-content: center;
  align-items: center; }

.main__div--pTwo {
  position: sticky;
  position: -webkit-sticky;
  top: 10rem;
  z-index: 1;
  height: 2rem;
  margin-top: 2rem; }

.main__div--pThree {
  position: sticky;
  position: -webkit-sticky;
  top: 10rem;
  z-index: 1;
  height: 15vh;
  margin-top: 2rem; }

.main__div--pFour {
  position: sticky;
  position: -webkit-sticky;
  top: 10rem;
  z-index: 1;
  height: 10vh;
  margin-top: 2rem; }

.main__div--pFive {
  position: sticky;
  position: -webkit-sticky;
  top: 10rem;
  z-index: 1;
  height: 15vh;
  margin-top: 1rem; }

/* Imágenes de los fondos de iconos */
.main__div--iconStyleOne {
  margin-top: 6rem;
  opacity: 0.2;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-image: url("../imagenes/quienesSomosSViol.png"); }

.main__div--iconStyleTwo {
  margin-top: 6rem;
  opacity: 0.2;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-image: url("../imagenes/quienesSomosIconoDos.png"); }

.main__div--iconStyleThreeFirst {
  margin-top: 6rem;
  opacity: 0.2;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-image: url("../imagenes/quienesSomosIconoTres.png");
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.main__div--iconStyleThreeSec {
  margin-top: 6rem;
  opacity: 0.2;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-image: url("../imagenes/quienesSomosIconoTres.png"); }

.main__div--iconStyleFour {
  margin-top: 6rem;
  opacity: 0.2;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-image: url("../imagenes/quienesSomosIconoCinco.png"); }

/* ---------------------------------------- */
/*    MEDIA QUERYS Qsomos */
@media only screen and (max-width: 992px) {
  .quienesSomos p {
    font-size: 2.5rem;
    color: #FFFFFF;
    line-height: 1.7rem;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #38352e, 0 0 30px #3b3a36, 0 0 40px #86818a, 0 0 55px #7a777e, 0 0 75px #303030; }
  .div__cont--scrollStopOneFirst {
    position: absolute;
    height: 100vh;
    z-index: 2;
    margin-top: 0.5rem;
    padding-top: 1rem; }
  .div__cont--scrollStopOneSec {
    position: absolute;
    height: 120vh;
    z-index: 1; }
  .div__cont--scrollStopTwo {
    position: absolute;
    height: 100vh;
    z-index: 6; }
  .div__cont--scrollStopThree {
    position: absolute;
    height: 100h;
    z-index: 9; }
  .div__cont--scrollStopFour {
    position: absolute;
    height: 90vh;
    margin-top: 8rem;
    z-index: 13; }
  .div__cont--scrollStopFive {
    position: absolute;
    height: 120vh;
    margin-top: 3rem;
    z-index: 16; }
  .main__div--iconStyleOne {
    margin-top: 0rem;
    padding-top: 0rem;
    display: none; }
  .main__div--iconStyleTwo {
    margin-top: 0rem;
    padding-top: 0rem;
    display: none; }
  .main__div--iconStyleThreeFirst {
    margin-top: 0rem;
    padding-top: 0rem;
    display: none; }
  .main__div--iconStyleThreeSec {
    margin-top: 0rem;
    padding-top: 0rem;
    display: none; }
  .main__div--iconStyleFour {
    margin-top: 0rem;
    padding-top: 0rem;
    display: none; }
  .main__div--contOne {
    height: 500px;
    margin-top: 7rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    z-index: 1; }
  .main__div--contTwoFirst {
    height: 500px;
    margin-top: 7rem;
    padding-top: 1rem;
    z-index: 2; }
  .main__div--contTwoSec {
    height: 500px;
    margin-top: 7rem;
    display: none; }
  .main__div--contThree {
    height: 500px;
    margin-top: 7rem;
    background-position-y: 70%;
    z-index: 8; }
  .main__div--contThreeSec {
    height: 500px;
    margin-top: 7rem; }
  .main__div--contFourOne {
    height: 500px;
    margin-top: 7rem;
    background-position-x: left;
    background-position-y: 50%;
    background-size: 220%;
    z-index: 12; }
  .main__div--contFourTwo {
    height: 500px;
    margin-top: 7rem;
    display: none; }
  .main__div--contFive {
    height: 500px;
    margin-top: 7rem;
    height: 80vh;
    background-position-y: 60%;
    z-index: 13; }
  .main__div--pOne {
    top: 10rem;
    z-index: 1;
    margin-top: 0.5rem;
    display: block;
    margin-top: 3rem; }
  .main__div--pTwo {
    top: 10rem;
    z-index: 1;
    margin-top: 0.5rem;
    margin-top: 5rem; }
  .main__div--pThree {
    top: 10rem;
    z-index: 1;
    margin-top: 0.5rem;
    margin-top: 0rem;
    padding-top: 0rem; }
  .main__div--pFour {
    top: 10rem;
    z-index: 1;
    margin-top: 0.5rem;
    margin-top: 5rem; }
  .main__div--pFive {
    top: 10rem;
    z-index: 1;
    margin-top: 0.5rem;
    margin-top: 5rem;
    padding-top: 2rem;
    z-index: 16; }
  .main__div--contFiveFont {
    font-size: 8rem; } }

@media only screen and (max-width: 768px) {
  .quienesSomos p {
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    font-size: 2.3rem;
    line-height: 1.8rem; }
  .div__cont--scrollStopOneFirst {
    position: absolute;
    height: 80vh;
    z-index: 2; }
  .div__cont--scrollStopOneSec {
    position: absolute;
    height: 100vh;
    z-index: 3; }
  .div__cont--scrollStopTwo {
    position: absolute;
    height: 80vh;
    z-index: 6; }
  .div__cont--scrollStopThree {
    position: absolute;
    height: 83vh;
    z-index: 9; }
  .div__cont--scrollStopFour {
    position: absolute;
    height: 80vh;
    z-index: 13; }
  .div__cont--scrollStopFive {
    position: absolute;
    height: 125vh;
    z-index: 16;
    width: 100%; }
  .main__div--pOne {
    margin-top: 1rem; }
  .main__div--pThree {
    margin-top: 0rem; }
  .main__div--pFive {
    padding-top: 2rem;
    z-index: 16; } }

.main__div--contFiveFont {
  font-size: 7rem; }

@media only screen and (max-width: 576px) {
  .nav--sticky {
    position: static;
    top: 0;
    z-index: 18; }
  .quienesSomos p {
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    font-size: 1.5rem;
    line-height: 1.5rem; }
  .div__cont--scrollStopOneFirst {
    position: absolute;
    height: 95vh;
    z-index: 2; }
  .div__cont--scrollStopOneSec {
    position: absolute; }
  .div__cont--scrollStopTwo {
    position: absolute; }
  .div__cont--scrollStopThree {
    position: absolute;
    height: 90vh; }
  .div__cont--scrollStopFour {
    position: absolute;
    height: 90vh; }
  .div__cont--scrollStopFive {
    position: absolute; }
  .main__div--contOne {
    height: 500px;
    margin-top: 6rem; }
  .main__div--contTwoFirst {
    height: 500px;
    margin-top: 6rem; }
  .main__div--contTwoSec {
    height: 500px;
    margin-top: 6rem; }
  .main__div--contThree {
    height: 500px;
    margin-top: 6rem; }
  .main__div--contThreeSec {
    height: 500px;
    margin-top: 6rem; }
  .main__div--contFourOne {
    height: 500px;
    margin-top: 6rem; }
  .main__div--contFourTwo {
    height: 500px;
    margin-top: 6rem; }
  .main__div--contFive {
    height: 500px;
    margin-top: 6rem; }
  .main__div--pOne {
    margin-top: 0.5rem;
    height: 1rem;
    margin-top: 7rem; }
  .main__div--pTwo {
    margin-top: 0.5rem; }
  .main__div--pThree {
    margin-top: 0.5rem; }
  .main__div--pFour {
    margin-top: 0.5rem; }
  .main__div--pFive {
    margin-top: 0.5rem; }
  margin-top: 2rem;
  z-index: 16;
  .main__div--contFiveFont {
    font-size: 4rem;
    margin-top: 3rem; } }

/*  ------------------------------------------ */
/*  Sección HEXAZONALES */
.div__carousel--style {
  box-shadow: 0 0.5rem 1rem rgba(183, 57, 241, 0.445);
  height: 6.2rem;
  background-image: linear-gradient(to top, #f7ddaf, #f3b2f3);
  font-family: "Oxygen", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.2rem; }

.div__carousel--myCaption {
  margin-top: 4rem; }

.main__div--spacesH {
  margin: 1rem 1rem 0rem 1rem;
  padding: 0rem;
  text-align: center;
  justify-content: center;
  justify-self: center; }

.main__div--hexaStyles {
  background-color: transparent;
  border-color: rgba(255, 254, 255, 0.267);
  color: rgba(176, 206, 188, 0); }
  .main__div--hexaStyles:hover {
    background-color: rgba(162, 247, 122, 0.582);
    transition: all 1s;
    transform: scale(125%, 125%);
    border-color: rgba(253, 249, 253, 0.281);
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 0.5rem 1rem #f1d039; }

@media only screen and (max-width: 576px) {
  .div__carousel--myCaption {
    position: absolute;
    height: 6.5rem;
    padding-left: 4.5rem;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    color: #fff;
    text-align: center; } }

/* ---------------------------------------- */
/* DESTINOS */
/* Estilos "botones"/destinos clase de bootstrap + mis estilos */
.button__modal--styles {
  background-color: transparent;
  border-color: rgba(255, 254, 255, 0.267);
  color: rgba(176, 206, 188, 0); }
  .button__modal--styles:hover {
    background-color: rgba(162, 247, 122, 0.582);
    transition: all 1s;
    transform: scale(125%, 125%);
    border-color: rgba(253, 249, 253, 0.281);
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: 0 0.5rem 1rem #f1d039; }

.main__div--spaces {
  padding: 0; }

.main__modal__ul--styles {
  display: block;
  list-style-type: none;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  text-align: center; }

.main__buttons--shadowViol {
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(192, 64, 209, 0.671); }

.main__buttons--shadowOrange {
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 0.5rem 1rem #ffaf1a; }

.main__modalDialog--shadow {
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.05rem 5rem #a1f77a; }

/* Estilos cuerpo del modal clase de BootS */
.modal-content {
  background-color: rgba(255, 214, 127, 0.562);
  z-index: 0;
  background-image: linear-gradient(to top, rgba(245, 186, 247, 0.788), rgba(238, 181, 95, 0.301));
  border-radius: 15px; }

.modal-title {
  font-family: "Megrim", cursive, Oxygen, sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #464d3f; }

.modal__btn-styles {
  color: rgba(113, 80, 122, 0.637);
  width: 100%;
  height: 3rem;
  font-size: 18px;
  border: 1px solid rgba(248, 245, 245, 0);
  border-radius: 12.5px;
  background-image: linear-gradient(to top, #f7ddaf, #f3b2f3);
  box-shadow: 10px 10px 18px #e9c760, -10px -10px 16px #a97ab998;
  margin: 1rem auto; }
  .modal__btn-styles:hover {
    color: blanchedalmond; }
  .modal__btn-styles:active {
    box-shadow: 16px 16px 18px #f3b2f3 inset, -16px -16px 18px #f7ddaf inset; }

@media only screen and (max-width: 1200px) {
  .modal .main__div--spaces {
    margin-right: 1rem; } }

/* Pág. CONTACTO */
/* ---------------------------------------- */
.fieldset--style {
  color: rgba(113, 80, 122, 0.637);
  font-weight: lighter;
  background-image: linear-gradient(to top, #f5baf7, rgba(238, 181, 95, 0.301));
  display: inline-block;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 3%;
  border-top: none;
  border-left: none;
  border-right: rgba(255, 244, 141, 0.438);
  border-bottom: rgba(255, 244, 141, 0.438);
  border-style: outset;
  border-width: 0.2rem; }

.fieldset__input--style {
  display: block;
  margin-top: 1rem;
  border-radius: 3%; }

.fieldset__btn--style {
  color: rgba(113, 80, 122, 0.637);
  width: 100%;
  height: 3rem;
  font-size: 18px;
  border: 1px solid rgba(248, 245, 245, 0);
  border-radius: 12.5px;
  background-image: linear-gradient(to top, #f7ddaf, #f3b2f3);
  box-shadow: 10px 10px 18px #e9c760, -10px -10px 16px #a97ab998;
  margin: 1rem auto; }
  .fieldset__btn--style:active {
    box-shadow: 16px 16px 18px #66e247 inset, -16px -16px 18px #db8efa inset; }

/* Mis estilos para las fuentes del formulario -CONTACTO */
.section__fieldset--fuentes {
  font-family: "Oxygen", sans-serif;
  letter-spacing: 0.12rem; }

/* Error 404 */
.body___404--color {
  background-color: burlywood; }

.a__img--estilos {
  margin-top: 15rem;
  border-radius: 1rem;
  background-color: #8b99847e;
  box-shadow: 0 0.05rem 5rem #a1f77a; }
