/* Error 404 */


.body___404--color{
    background-color:burlywood;
}
    .a__ {
        &img {
            &--estilos {
                margin-top: 15rem;
                border-radius: 1rem;
                background-color: #8b99847e;
                box-shadow: 0 0.05rem 5rem #a1f77a;
            }
        }
    } 