/* ESTILOS GENERALES */
/* ---------------------------------------- */
/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
    width: 100%;
}



.body {

    &__home,
    &__contacto,
    &__quienes,
    &__hexa,
    &__destinos,
    &__contactos {

        &--backGround {
            background-image: url(../imagenes/shinyOverlayCinco.svg);
            z-index: 0;
            background-size: cover;
        }
    }
}

@each $section in (Qs, Cont) {
    .main__div--backText#{$section} {
        position: absolute;
        padding-top: 1rem;
        -webkit-transform: scaleX(3) scaleY(10);
        transform: scaleX(2.3) scaleY(10);
        z-index: -999;
        opacity: 0.3;
        color: antiquewhite;
        padding-left: 19rem;

        @if ($section==Cont) {
            padding-top: 0.5rem;
            -webkit-transform: scaleX(2.5) scaleY(7);
            transform: scaleX(2.5) scaleY(7);
            padding-left: 12rem;
        }

    }
}

/* ---------------------------------------- */
/* ANIMACIONES */

@for $i from 1 through 4 {
    .animate__animated.animate__fadeIn__index__titulos--fade-#{$i} {
        --animate-duration: 2s + $i;
    }
}


/* ---------------------------------------- */
/* NAVBAR */

/*   Animación navbar__logo */
.navbar {
    &__link--logo:hover {
        transition: all 2s;
        transform: scale(80%, 80%);
    }
}

// Icono botón hamburguesa
//Box shadow del botón hamburguesa
.nav {
    &__toggler--myStyles {
        &:focus {
            text-decoration: none;
            /* outline: 0; */
            color: rgba(94, 205, 50, 0.685);
            box-shadow: 0 0 0 0.1rem;
        }
    }



    &__ul {
        &--color {
            & :hover {
                color: rgb(167, 62, 228);
                text-shadow: -6px -1px 6px rgb(225, 172, 238);
            }
        }
    }
}


/* ---------------------------------------- */

ul {
    list-style-type: none;
    font-family: "Oxygen", sans-serif;
    text-align: center;

    /* Ubica cada li en un item del contenedor ul con flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 3;
    width: 100%;

    li {
        letter-spacing: 0.2rem;
        color: #7a7771c7;
    }

}



/* EACH  -- Estilos en SPAN  debajo de NAVBAR 
de todas las páginas */
@each $span in (span__uno,
    span__dos) {
    ##{$span}--posestilos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        font-family: "Oxygen", sans-serif;
        font-weight: bold;
        color: transparent;
        background: #997a41;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);

        @if ($span==span__uno) {
            margin-left: 1rem;
        }

        @else {
            margin-left: 4rem;
        }
    }
}

/* ---------------------------------------- */
/* Estilos títulos H1 en gral. */
h1 {
    color: #7a7771;
    font-family: "Megrim";
    font-weight: bold;
    font-size: 6rem;
    text-shadow: -6px -1px 6px rgb(222, 181, 118);
}

/* ---------------------------------------- */
/* Estílos párrafos en gral. */
p {
    color: #9583a3;
    font-family: "MuseoModerno", cursive;
    font-size: 1.2rem;
    word-spacing: 0.1rem;
    line-height: 2rem;
    text-align: center;
}

/* ---------------------------------------- */
/* Estílos anchors en gral.*/
a {
    text-decoration: none;
    color: #7a7771;
    text-shadow: -6px -1px 6px rgb(222, 181, 118);
}


.footer {
    &__div {
        &--rrss {

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 10px;


        }
    }
}


@each $red in (Fb,Ig){
    .footer_a--#{$red} {

        border-radius: 15px;
        background: linear-gradient(145deg, #1c4f55, #ddffff);
        box-shadow: 5px 5px 5px #143c42,
            -5px -5px 5px #eeffff;
        opacity: 0.5;


        @if($red==Ig) {
            background: linear-gradient(145deg, rgb(104, 32, 104), rgba(238, 209, 245, 0.995));
            box-shadow: 5px 5px 5px #7a5491,
                -5px -5px 5px #eeffff;
        }

    }
}

/* ---------------------------------------- */
/* MEDIA QUERYS GENERALES*/

@media only screen and (max-width: 1500px) {

    @each $section in (Qs, Cont) {
        .main__div--backText#{$section} {
            padding-top: 0.5rem;
            -webkit-transform: scaleX(2) scaleY(9);
            transform: scaleX(1.7) scaleY(9);
            padding-left: 15rem;

            @if ($section==Cont) {

                -webkit-transform: scaleX(1.8) scaleY(7);
                transform: scaleX(1.8) scaleY(7);
                padding-left: 12rem;
            }

        }
    }
}


@media only screen and (max-width: 1300px) {

    @each $section in (Qs, Cont) {
        .main__div--backText#{$section} {

            padding-top: 0.5rem;
            -webkit-transform: scaleX(2) scaleY(9);
            transform: scaleX(1.7) scaleY(9);
            padding-left: 12rem;

            @if ($section==Cont) {

                -webkit-transform: scaleX(2) scaleY(9);
                transform: scaleX(1.8) scaleY(7);
                padding-left: 12rem;
            }

        }
    }
}





@media only screen and (max-width: 1200px) {

    @each $section in (Qs, Cont) {
        .main__div--backText#{$section} {

            padding-top: 0.5rem;
            -webkit-transform: scaleX(2) scaleY(9);
            transform: scaleX(1.4) scaleY(9);
            padding-left: 12rem;

            @if ($section==Cont) {

                -webkit-transform: scaleX(1.5) scaleY(7);
                transform: scaleX(1.5) scaleY(7);
                padding-left: 10rem;
            }

        }
    }
}

@media only screen and (max-width: 1024px) {
    @each $section in (Qs, Cont) {
        .main__div--backText#{$section} {

            padding-top: 0.5rem;
            -webkit-transform: scaleX(1.4) scaleY(9);
            transform: scaleX(1.3) scaleY(9);
            padding-left: 9rem;

            @if ($section==Cont) {
                -webkit-transform: scaleX(1.8) scaleY(8);
                transform: scaleX(1.5) scaleY(7);
                padding-left: 8rem;



            }

        }


    }
}

@media only screen and (max-width: 992px) {

    @each $section in (Qs, Cont) {
        .main__div--backText#{$section} {
            @if ($section==Cont) {
                -webkit-transform: scaleX(1) scaleY(7);
                transform: scaleX(1.3) scaleY(7);
                padding-left: 2.5rem;
                margin-left: 0rem;
            }

        }
    }
}


@media only screen and (max-width: 768px) {

    @each $section in (Qs, Cont) {
        .main__div--backText#{$section} {
            padding-top: 0.2rem;
            -webkit-transform: scaleX(1) scaleY(7);
            transform: scaleX(1.3) scaleY(7);
            padding-left: 4.2rem;

        }
    }


    .body {
        p {
            color: rgb(226, 176, 69);
        }
    }




    .body {
        &__home {
            &--backGround {
                background-image: url("../imagenes/shinyOverlayOscuroCuatro.svg");
                background-size: inherit;
            }
        }
    }


    nav {
        ul {
            li {
                letter-spacing: 0.2rem;
                color: #4b4a458e;

                &:hover {
                    color: rgb(231, 206, 245);
                }
            }
        }
    }



    #span__uno--posestilos,
    #span__dos--posestilos {
        display: none;
    }


    .header {
        &__h1--reduceSizeMq {
            font-size: 4rem;
            margin-left: 0px;
            color: #b3a593;
        }
    }



    .nav {
        &__toggler {
            &--myStyle {
                border-width: 2px;
                border-color: rgb(236, 184, 72);
                box-shadow: 0 0 0 0.1rem rgba(205, 169, 50, 0.685);


                &:focus {
                    text-decoration: none;

                    color: rgba(205, 169, 50, 0.685);
                    box-shadow: 0 0 0 0.2rem;

                }

                &:hover {
                    background-image: linear-gradient(to top,
                            rgba(203, 79, 228, 0.678),
                            rgb(236, 179, 93));

                }
            }

        }

    }

    .navbar {
        &-toggler {
            &-icon {
                & :hover {
                    background-image: url("../imagenes/menuHambWhite.png");
                }
            }
        }
    }

}


@media only screen and (max-width: 576px) {
    .body {
        &__home,
        &__quienes,
        &__hexa,
        &__destinos,
        &__contacto {
            &--backGround {

                background: {
                    image: linear-gradient(to top,
                    rgba(136, 129, 87, 0.858),
                    rgb(85, 74, 97));
                    size: inherit, cover;
                    repeat: no-repeat;
                    position: center;
                }

                height: 100%;
                margin-top: 2rem;
                z-index: 10;
            }
        }
    }

    .header{
        &__h1Cont, &__h1Hz {
            &--reduceSize {
                color: #7a7771;
                font-family: "Megrim";
                font-weight: bold;
                font-size: 3rem;
                text-shadow: -3px -1px 3px rgb(222, 181, 118);
            }
        }
            &__h1Des{
                &--reduceSize{
                    font-size: 4.5rem;
                    text-shadow: -3px -1px 3px rgb(222, 181, 118);
                }
            } 
        
    }

    p {
        color: #e9d9c8;
        font-family: "MuseoModerno", cursive;
        font-size: 1.2rem;
        word-spacing: 0.1rem;
        line-height: 2rem;
        text-align: center;
    }
    






    nav {
        ul {
            li {
                letter-spacing: 0.2rem;
                color: #eba52d;

                &:hover {
                    color: rgb(231, 206, 245);
                }
            }
        }
    }

}