/*  ------------------------------------------ */
/*  Sección HEXAZONALES */

.main {
        &__div {
            &--espacioH {

                margin: 1rem 1rem 0rem 1rem;
                padding: 0rem;
                text-align: center;
                justify-content: center;
                justify-self: center;
            }
        }
    } 



