    /* Pág INDEX */
    /* ---------------------------------------- */

    .header {
        &__H1 {
            &--style {
                width: 100%;
                font-size: 9rem;
                z-index: 2;
                margin-bottom: 0rem;
                margin-top: 0rem;
                text-shadow: -6px -1px 6px rgb(222, 181, 118);
            }
        }
        &__H2{
            &--style{
                color: rgba(163, 68, 207, 0.781);
                font-family: "MuseoModerno";
                font-size: 2rem;
                z-index: 2;
                margin-bottom: 0rem;
                margin-top: 0rem;
                text-shadow: -9px -1px 9px rgb(231, 169, 77);
        } 


    }
}


    .main__ {
        &div {
            &--logoStyle {
                padding: 0rem;
            }
        }
    }


    .footer {
        &_a {

            &--Fb,
            &--Ig {
                margin-bottom: 1rem;
            }
        }
    }


    footer div ul li {
        margin-top: 5px;
        font-size: 14px;
        cursor: pointer;
        color: #363636;

    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }



    .footer {
        &__ul {
            &--itemsStyle {
                font-family: "Oxygen", sans-serif;

                color: #7a7771c7;
                letter-spacing: 0.2rem;

                &:hover {

                    color: rgb(78, 74, 66);

                }

                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
        }
    }


    footer div ul li:hover {

        color: rgb(195, 53, 238);

    }

    #index {
        &__footer {
            &--style {
                height: 100%;
                margin-bottom: 1rem;
                margin-top: 3rem;
                padding-top: 2rem;
                background-image: linear-gradient(to top,
                        rgba(247, 221, 175, 0.212),
                        rgba(243, 178, 243, 0.144));
                box-shadow: 0 1.5rem 1rem rgba(131, 126, 133, 0.623);
            }
        }
    }


    .div {
        &__footer {
            &--copyright {
                padding-top: 0.5rem;
            }
        }
    }


    /* ---------------------------------------- */
    /*    MEDIA QUERYS INDEX */

    @media only screen and (max-width: 992px) {

        .header {
            &__H1 {
                &--style {
                    font-size: 8rem;
                    margin-bottom: 1rem;
                }
            }
        }


        .main__ {
            &div {
                &--logoStyle {
                    padding: 0rem;
                }
            }
        }

    }

    @media only screen and (max-width: 768px) {

        /* Disminuye tamaño de titulo hexaZonal 
                y párrafo en break 768px -INDEX */
        .header {
            &__H1 {
                &--style {
                    font-size: 6rem;
                    
                }
            }
        }



        .main__ {
            &div {
                &--logoStyle {
                    padding: 3rem;
                }
            }
        }


        .footer {
            &__ul {
                &--itemsStyle {

                    color: orange;

                    &:hover {
                        color: rgb(195, 53, 238);

                    }

                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
            }
        }





        footer {
            & div {
                & ul {
                    & li {
                        margin-top: 5px;
                        font-size: 14px;
                        cursor: pointer;
                        color: #e1c1f7;

                    }
                }
            }
        }






        #index {
            &__footer {
                &--style {

                    padding: 2rem;
                    background-image: none;
                    box-shadow: none;
                }
            }
        }

    }

    @media only screen and (max-width: 576px) {

        .header {
            &__H1 {
                &--style {
                    font-size: 4rem;
                    text-shadow: -3px -1px 3px rgb(222, 181, 118);
                }
            }
        }
    }