      /* Pág QUIÉNES SOMOS */
      /* ------------------------------------------ */

      .quienesSomos p {
            font-size: 1.5rem;
            letter-spacing: 0.2rem;
            word-spacing: 0.2rem;
            color: #2e1a33;
            font-family: "Megrim";
            font-weight: bolder;
            font-size: 1.5rem;
            color: #353434;

            text-shadow: 0 0 5px rgb(250, 233, 185), 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #dfdfdf, 0 0 30px #f2e4ae, 0 0 40px #f0c976, 0 0 55px #facd7a, 0 0 75px #b143ff;
      }


      .main {
            &__div {

                  &--contFiveFont {


                        font-size: 10rem;
                        font-family: "Megrim";
                        color: rgb(163, 57, 196);
                        text-shadow: -6px -1px 6px rgb(225, 172, 238);
                        z-index: 15;


                  }
            }
      }



      .nav--sticky {
            position: sticky;
            top: 0;
            z-index: 18;

      }


      @each $stopN in (OneFirst, OneSec, Two, Three, Four, Five) {
            .div__cont--scrollStop#{$stopN} {

                  position: absolute;
                  margin-top: 10rem;
                  z-index: -1;

                  @if ($stopN==OneFirst) {
                        height: 120vh;
                        margin-top: 3rem;
                  }


                  @if ($stopN==OneSec) {
                        height: 83vh;
                  }

                  @if ($stopN==Two) {
                        height: 75vh;
                  }

                  @if ($stopN==Three) {
                        height: 86vh;
                  }

                  @if ($stopN==Four) {
                        height: 85vh;
                  }

                  @if ($stopN==Five) {
                        height: 100vh;
                        z-index: 16;
                        width: 100%;
                  }
            }
      }



      @each $contStyle in (One, TwoFirst, TwoSec, Three, ThreeSec, FourOne, FourTwo, Five) {
            .main__div--cont#{$contStyle} {

                  background: {
                        position: center;
                        position-y: 30%;
                        size: cover;
                        repeat: no-repeat;
                  }

                  z-index: 2;
                  border-radius: 24px;
                  box-shadow: 40px 40px 80px #aca893,
                  -10px -3px 80px #aca893;
                  height: 70vh;

                  @if ($contStyle==One) {
                        margin-top: 3rem;
                        background-image: radial-gradient(rgba(230, 199, 112, 0.644), rgba(206, 206, 201, 0.596)), url("../imagenes/quienesSomosUnoMin.jpg");
                  }

                  @if ($contStyle==TwoFirst) {
                        margin-top: 4rem;
                        background-image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosDosMin.jpg");
                  }

                  @if ($contStyle==TwoSec) {
                        margin-top: 4rem;
                        background-image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosDosMin.jpg");
                        padding-top: 2rem;
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                  }

                  @if ($contStyle==Three) {
                        margin-top: 4rem;

                        background: {
                              image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosTresMin.jpg");
                              position-y: 70%;
                        }
                  }

                  @if ($contStyle==FourOne) {
                        margin-top: 4rem;

                        background: {
                              image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosCuatroMin.jpg");
                              position-x: left;
                              position-y: 50%;
                              size: 220%;
                        }
                  }

                  @if ($contStyle==FourTwo) {
                        margin-top: 4rem;

                        background: {
                              image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosCuatroMin.jpg");
                              position-x: right;
                              position-y: 50%;
                              size: 185%;
                        }
                  }

                  @if ($contStyle==Five) {
                        margin-top: 4rem;
                        height: 80vh;

                        background: {
                              image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosSeis.jpg");
                              position-y: 60%;
                        }
                  }

            }

      }



      @each $pStyle in (One, Two, Three, Four, Five) {
            .main__div--p#{$pStyle} {

                  position: sticky;
                  position: -webkit-sticky;
                  top: 10rem;
                  z-index: 1;



                  @if ($pStyle==One) {
                        display: flex;
                        height: 2rem;
                        margin-top: 20rem;
                        justify-content: center;
                        align-items: center;


                  }

                  @if ($pStyle==Two) {
                        height: 2rem;
                        margin-top: 2rem;
                  }

                  @if ($pStyle==Three) {
                        height: 15vh;
                        margin-top: 2rem;
                  }

                  @if ($pStyle==Four) {
                        height: 10vh;
                        margin-top: 2rem;

                  }

                  @if ($pStyle==Five) {
                        height: 15vh;
                        margin-top: 1rem;
                  }

            }
      }



      /* Imágenes de los fondos de iconos */
      @each $imgIcons in (One, Two, ThreeFirst, ThreeSec, Four) {

            .main__div--iconStyle#{$imgIcons} {
                  margin-top: 6rem;
                  opacity: 0.2;

                  background: {
                        size: inherit;
                        repeat: no-repeat;
                        position-x: center;
                        position-y: center;
                  }

                  @if ($imgIcons==One) {
                        background: {
                              image: url("../imagenes/quienesSomosSViol.png");
                        }
                  }


                  @if ($imgIcons==Two) {
                        background-image: url("../imagenes/quienesSomosIconoDos.png");
                  }



                  @if ($imgIcons==ThreeFirst) {
                        background-image: url("../imagenes/quienesSomosIconoTres.png");
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                  }



                  @if ($imgIcons==ThreeSec) {
                        background-image: url("../imagenes/quienesSomosIconoTres.png");
                  }


                  @if ($imgIcons==Four) {
                        background-image: url("../imagenes/quienesSomosIconoCinco.png");
                  }
            }
      }

      /* ---------------------------------------- */
      /*    MEDIA QUERYS Qsomos */







      /* Breacking point Tablet */
      @media only screen and (max-width: 992px) {

            .main {
                  &__div {
                        &--contFiveFont {
                              font-size: 8rem;

                        }
                  }
            }

            .quienesSomos p {
                  font-size: 2.5rem;
                  color: #FFFFFF;
                  line-height: 1.7rem;
                  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #38352e, 0 0 30px #3b3a36, 0 0 40px #86818a, 0 0 55px #7a777e, 0 0 75px #303030;
            }


            @each $stopN in (OneFirst, OneSec, Two, Three, Four, Five) {
                  .div__cont--scrollStop#{$stopN} {
                        position: absolute;


                        @if ($stopN==OneFirst) {
                              height: 100vh;
                              z-index: 2;
                              margin-top: 0.5rem;
                              padding-top: 1rem;
                        }

                        @if ($stopN==OneSec) {
                              height: 120vh;
                              z-index: 1;
                        }

                        @if ($stopN==Two) {
                              height: 100vh;

                              z-index: 6;
                        }

                        @if ($stopN==Three) {
                              height: 100h;
                              z-index: 9;
                        }

                        @if ($stopN==Four) {
                              height: 90vh;
                              margin-top: 8rem;
                              z-index: 13;
                        }


                        @if ($stopN==Five) {
                              height: 120vh;
                              margin-top: 3rem;
                              z-index: 16;
                        }

                  }
            }



            @each $imgIcons in (One, Two, ThreeFirst, ThreeSec, Four) {

                  .main__div--iconStyle#{$imgIcons} {
                        margin-top: 0rem;
                        padding-top: 0rem;
                        display: none;
                  }
            }



            @each $contStyle in (One, TwoFirst, TwoSec, Three, ThreeSec, FourOne, FourTwo, Five) {
                  .main__div--cont#{$contStyle} {
                        height: 500px;
                        margin-top: 7rem;



                        @if ($contStyle==One) {
                              padding-bottom: 1rem;
                              margin-top: 2rem;
                              z-index: 1;
                        }

                        @if ($contStyle==TwoFirst) {
                              padding-top: 1rem;
                              z-index: 2;
                        }


                        @if ($contStyle==TwoSec) {
                              display: none;
                        }

                        @if ($contStyle==Three) {
                              background-position-y: 70%;
                              z-index: 8;
                        }

                        @if ($contStyle==FourOne) {
                              background: {
                                    position-x: left;
                                    position-y: 50%;
                                    size: 220%;
                              }

                              z-index: 12;
                        }

                        @if ($contStyle==FourTwo) {
                              display: none;
                        }


                        @if ($contStyle==Five) {
                              height: 80vh;
                              background-position-y: 60%;
                              z-index: 13;
                        }

                  }

            }



            @each $pStyle in (One, Two, Three, Four, Five) {
                  .main__div--p#{$pStyle} {
                        top: 10rem;
                        z-index: 1;
                        margin-top: 0.5rem;

                        @if ($pStyle==One) {
                              display: block;
                              margin-top: 3rem;
                        }

                        @if ($pStyle==Two) {
                              margin-top: 5rem;
                        }

                        @if ($pStyle==Three) {
                              margin-top: 0rem;
                              padding-top: 0rem;
                        }

                        @if ($pStyle==Four) {
                              margin-top: 5rem;
                        }

                        @if ($pStyle==Five) {
                              margin-top: 5rem;
                              padding-top: 2rem;
                              z-index: 16;
                        }

                  }

            }

      }





      @media only screen and (max-width: 768px) {
            .quienesSomos p {
                  letter-spacing: 0.1rem;
                  word-spacing: 0.2rem;
                  font-size: 2.3rem;
                  line-height: 1.8rem;
            }


            .main {
                  &__div {
                        &--backTextQs {
                              padding-top: 0.2rem;
                              -webkit-transform: scaleX(1) scaleY(7);
                              transform: scaleX(1.3) scaleY(7);
                              padding-left: 4.2rem;
                        }
                  }
            }

            .main {
                  &__div {
                        &--contFiveFont {
                              font-size: 7rem;
                        }
                  }
            }



            @each $stopN in (OneFirst, OneSec, Two, Three, Four, Five) {
                  .div__cont--scrollStop#{$stopN} {
                        position: absolute;


                        @if ($stopN==OneFirst) {
                              height: 80vh;
                              z-index: 2;

                        }

                        @if ($stopN==OneSec) {
                              height: 100vh;
                              z-index: 3;
                        }

                        @if ($stopN==Two) {
                              height: 80vh;
                              z-index: 6;
                        }

                        @if ($stopN==Three) {
                              height: 83vh;
                              z-index: 9;
                        }

                        @if ($stopN==Four) {
                              height: 80vh;
                              z-index: 13;
                        }


                        @if ($stopN==Five) {
                              height: 125vh;
                              z-index: 16;
                              width: 100%;

                        }

                  }
            }

            @each $imgIcons in (One, Two, ThreeFirst, ThreeSec, Four) {

                  .main__div--iconStyle#{$imgIcons} {
                        margin-top: 0rem;
                        padding-top: 0rem;
                        display: none;
                  }
            }

            @each $pStyle in (One, Two, Three, Four, Five) {
                  .main__div--p#{$pStyle} {


                        @if ($pStyle==One) {
                              margin-top: 1rem;
                        }


                        @if ($pStyle==Three) {
                              margin-top: 0rem;


                        }

                        @if ($pStyle==Five) {
                              padding-top: 2rem;
                              z-index: 16;
                        }

                  }
            }
      }


      @media only screen and (max-width: 576px) {

            .nav--sticky {
                  position: static;
                  top: 0;
                  z-index: 18;

            }

            .quienesSomos p {

                  letter-spacing: 0.1rem;
                  word-spacing: 0.2rem;
                  font-size: 1.5rem;
                  line-height: 1.5rem;
            }

            .main {
                  &__div {
                        &--backText {
                              display: none;
                        }
                  }
            }


            .main {
                  &__div {
                        &--contFiveFont {
                              font-size: 4rem;
                              margin-top: 3rem;
                        }
                  }
            }


            @each $stopN in (OneFirst, OneSec, Two, Three, Four, Five) {
                  .div__cont--scrollStop#{$stopN} {
                        position: absolute;

                        @if ($stopN==OneFirst) {
                              height: 95vh;
                              z-index: 2;
                        }

                        @if ($stopN==Three) {
                              height: 90vh;

                        }

                        @if ($stopN==Four) {
                              height: 90vh;

                        }
                  }
            }

            @each $imgIcons in (One, Two, ThreeFirst, ThreeSec, Four) {

                  .main__div--iconStyle#{$imgIcons} {
                        margin-top: 0rem;
                        padding-top: 0rem;
                        display: none;
                  }
            }

            @each $contStyle in (One, TwoFirst, TwoSec, Three, ThreeSec, FourOne, FourTwo, Five) {
                  .main__div--cont#{$contStyle} {
                        height: 500px;
                        margin-top: 6rem;

                  }
            }



            @each $pStyle in (One, Two, Three, Four, Five) {
                  .main__div--p#{$pStyle} {
                        margin-top: 0.5rem;

                        @if ($pStyle==One) {
                              height: 1rem;
                              margin-top: 7rem;
                        }

                  }

                  @if ($pStyle==Five) {
                        margin-top: 2rem;
                        z-index: 16;
                  }
            }

      }