      /* Pág QUIÉNES SOMOS */
      /* ------------------------------------------ */

      .quienesSomos__p {
            font-size: 1.3rem;
            letter-spacing: 0.1rem;
            word-spacing: 0.2rem;
            font-family: "MuseoModerno";
            font-weight: 2rem;
            color: #3c2b639e;
            text-shadow: -6px -1px 6px rgb(222, 181, 118);
      }


      .main {
            &__div {
                  &--contFiveFont {
                        font-size: 16rem;
                        font-family: "Megrim";
                        color: blanchedalmond;
                        text-shadow: -6px -1px 6px rgb(225, 172, 238);
                        z-index: 15;
                  }
            }
      }

      .nav--sticky {
            position: sticky;
            top: 0;
            z-index: 18;

      }




      /* Estos contenedores permiten mover los párrafos hasta ocultarlos */
      @each $stopN in (OneFirst, OneSec, Two, Three, Four, Five) {
            .div__cont--scrollStop#{$stopN} {

                  position: absolute;
                  margin-top: 8rem;
                  z-index: -1;

                  @if ($stopN==OneFirst) {
                        height: 120vh;
                        margin-top: 0.5rem;
                  }

                  @if ($stopN==OneSec) {
                        height: 83vh;
                  }

                  @if ($stopN==Two) {
                        height: 80vh;
                  }

                  @if ($stopN==Three) {
                        height: 86vh;
                  }

                  @if ($stopN==Four) {
                        height: 85vh;
                  }

                  @if ($stopN==Five) {
                        height: 81vh;
                        z-index: 16;
                        width: 100%;
                  }
            }
      }



      @each $contStyle in (One, TwoFirst, TwoSec, Three, ThreeSec, FourOne, FourTwo, Five) {
            .main__div--cont#{$contStyle} {

                  background: {
                        position: center;
                        position-y: 30%;
                        size: cover;
                        repeat: no-repeat;
                  }

                  margin-top: 4rem;
                  z-index: 2;
                  border-radius: 15px;
                  box-shadow: 40px 40px 80px #aca893,
                  -10px -3px 80px #aca893;
                  height: 70vh;

                  @if ($contStyle==One) {
                        margin-top: 3rem;
                        background-image: url("../imagenes/quienesSomosUnoMin.jpg");
                  }

                  @if ($contStyle==TwoFirst) {
                        background-image: url("../imagenes/quienesSomosDosMin.jpg");
                  }

                  @if ($contStyle==TwoSec) {
                        background-image: url("../imagenes/quienesSomosDosMin.jpg");
                        padding-top: 2rem;
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                  }

                  @if ($contStyle==Three) {
                        background: {
                              image: url("../imagenes/quienesSomosTresMin.jpg");
                              position-y: 70%;
                        }
                  }

                  @if ($contStyle==FourOne) {
                        background: {
                              image: url("../imagenes/quienesSomosCuatro.jpg");
                              position-x: left;
                              position-y: 50%;

                        }

                  }


                  @if ($contStyle==FourTwo) {
                        background: {
                              image: url("../imagenes/quienesSomosCuatro.jpg");
                              position-x: right;
                              position-y: 50%;

                        }
                  }

                  @if ($contStyle==Five) {
                        height: 80vh;

                        background: {
                              image: url("../imagenes/quienesSomosSeis.jpg");
                              position-y: 60%;
                        }
                  }

            }

      }



      @each $pStyle in (One, Two, Three, Four, Five) {
            .main__div--p#{$pStyle} {

                  position: sticky;
                  position: -webkit-sticky;
                  top: 10rem;
                  z-index: 1;

                  @if ($pStyle==One) {
                        display: flex;
                        height: 2rem;
                        margin-top: 15rem;
                        justify-content: center;
                        align-items: center;
                        top: 16rem;
                        padding-top: 1rem;
                  }

                  @if ($pStyle==Two) {
                        height: 2rem;
                        top: 7rem;
                  }

                  @if ($pStyle==Three) {
                        height: 2rem;
                        top: 7rem;
                  }


                  @if ($pStyle==Four) {
                        height: 10vh;
                        top: 7rem;
                  }

                  @if ($pStyle==Five) {
                        height: 15vh;
                        margin-top: 1rem;
                  }

            }
      }


      /* ---------------------------------------- */
      /*    MEDIA QUERYS Qsomos */

      @media only screen and (max-width: 992px) {


            .header {
                  &__h1Qs {
                        &--reduceSize {
                              font-size: 6rem;
                        }
                  }
            }


            .quienesSomos__p {
                  font-size: 2.3rem;
                  color: #FFFFFF;
                  line-height: 1.5rem;
                  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #38352e, 0 0 30px #3b3a36, 0 0 40px #86818a, 0 0 55px #7a777e, 0 0 75px #303030;
            }


            @each $stopN in (OneFirst, OneSec, Two, Three, Four, Five) {
                  .div__cont--scrollStop#{$stopN} {
                        position: absolute;

                        @if ($stopN==OneFirst) {
                              height: 110vh;
                              z-index: 2;
                              margin-top: 0rem;
                              padding-top: 0rem;
                        }

                        @if ($stopN==OneSec) {
                              height: 120vh;
                              z-index: 1;
                        }

                        @if ($stopN==Two) {
                              height: 150vh;

                              z-index: 6;
                        }

                        @if ($stopN==Three) {
                              height: 130vh;
                              z-index: 9;
                        }

                        @if ($stopN==Four) {
                              height: 160vh;
                              margin-top: 8rem;
                              z-index: 13;
                        }

                        @if ($stopN==Five) {
                              height: 120vh;
                              margin-top: 3rem;
                              z-index: 16;
                        }

                  }
            }




            @each $contStyle in (One, TwoFirst, TwoSec, Three, ThreeSec, FourOne, FourTwo, Five) {
                  .main__div--cont#{$contStyle} {

                        margin-top: 7rem;

                        @if ($contStyle==One) {
                              padding-bottom: 1rem;
                              margin-top: 2rem;
                              z-index: 1;
                        }

                        @if ($contStyle==TwoFirst) {
                              padding-top: 1rem;
                              z-index: 2;
                        }


                        @if ($contStyle==TwoSec) {
                              display: none;
                        }

                        @if ($contStyle==Three) {
                              background-position-y: 70%;
                              z-index: 8;
                        }

                        @if ($contStyle==FourOne) {
                              background: {
                                    position-x: left;
                                    position-y: 50%;
                                    size: 280%
                              }

                              z-index: 12;
                        }

                        @if ($contStyle==FourTwo) {
                              display: none;
                        }

                        @if ($contStyle==Five) {
                              height: 80vh;
                              background-position-y: 60%;
                              z-index: 13;
                        }

                  }

            }


            @each $pStyle in (One, Two, Three, Four, Five) {
                  .main__div--p#{$pStyle} {
                        top: 10rem;
                        z-index: 1;
                        margin-top: 0.5rem;

                        @if ($pStyle==One) {
                              display: block;
                              margin-top: 3rem;
                        }

                        @if ($pStyle==Two) {
                              margin-top: 5rem;
                        }

                        @if ($pStyle==Three) {
                              margin-top: 0rem;
                              padding-top: 0rem;
                        }

                        @if ($pStyle==Four) {
                              margin-top: 5rem;
                        }

                        @if ($pStyle==Five) {
                              margin-top: 5rem;
                              padding-top: 2rem;
                              z-index: 16;
                        }

                  }

            }

            .main {
                  &__div {
                        &--contFiveFont {
                              font-size: 8rem;

                        }
                  }
            }

      }





      @media only screen and (max-width: 768px) {

            .header {
                  &__h1Qs {
                        &--reduceSize {
                              font-size: 4rem;
                        }
                  }
            }

            .quienesSomos__p {
                  letter-spacing: 0.1rem;
                  word-spacing: 0.2rem;
                  font-size: 1.7rem;
                  line-height: 1.8rem;
            }


            @each $stopN in (OneFirst, OneSec, Two, Three, Four, Five) {
                  .div__cont--scrollStop#{$stopN} {
                        position: absolute;

                        @if ($stopN==OneFirst) {
                              height: 120vh;
                              z-index: 2;
                        }

                        @if ($stopN==OneSec) {
                              height: 100vh;
                              z-index: 3;
                        }

                        @if ($stopN==Two) {
                              height: 100vh;
                              z-index: 6;
                        }

                        @if ($stopN==Three) {
                              height: 110vh;
                              z-index: 9;
                        }

                        @if ($stopN==Four) {
                              height: 130vh;
                              z-index: 13;
                        }

                        @if ($stopN==Five) {
                              height: 120vh;
                              z-index: 16;
                              width: 100%;

                        }

                  }
            }



            @each $pStyle in (One, Two, Three, Four, Five) {
                  .main__div--p#{$pStyle} {

                        @if ($pStyle==One) {
                              margin-top: 1rem;
                              top: 7rem;
                        }

                        @if ($pStyle==Three) {
                              margin-top: 0rem;
                              padding-top: 0rem;
                              top: 8rem;
                        }

                        @if ($pStyle==Five) {
                              top: 15rem;
                              z-index: 16;

                        }

                  }
            }
      }

      .main {
            &__div {
                  &--contFiveFont {
                        font-size: 7rem;

                  }
            }
      }


      @media only screen and (max-width: 576px) {

            .nav--sticky {
                  position: static;
                  top: 0;
            }


            .header {
                  &__h1Qs {
                        &--reduceSize {
                              font-size: 3rem;
                              text-shadow: -2px -1px 2px rgb(222, 181, 118);

                        }
                  }
            }

            .quienesSomos__p {
                  letter-spacing: 0.1rem;
                  word-spacing: 0.2rem;
                  font-size: 1.3rem;
                  line-height: 1.5rem;

            }


            @each $stopN in (OneFirst, OneSec, Two, Three, Four, Five) {
                  .div__cont--scrollStop#{$stopN} {
                        position: absolute;

                        @if ($stopN==OneFirst) {
                              height: 110vh;
                              z-index: 2;
                              padding-top: 1rem;


                        }

                        @if ($stopN==Three) {
                              height: 110vh;
                              margin-top: 7rem;

                        }

                        @if ($stopN==Four) {
                              height: 110vh;

                        }

                        @if ($stopN==Five) {
                              height: 25vh;

                        }
                  }
            }



            @each $contStyle in (One, TwoFirst, TwoSec, Three, ThreeSec, FourOne, FourTwo, Five) {
                  .main__div--cont#{$contStyle} {
                        height: 500px;
                        padding-top: 9rem;

                        @if ($contStyle==One) {
                              padding-top: 0rem;
                              margin-top: 3rem;
                        }

                  }
            }


            @each $pStyle in (One, Two, Three, Four, Five) {
                  .main__div--p#{$pStyle} {
                        margin-top: 0rem;
                        padding-top: 2rem;

                        @if ($pStyle==One) {
                              height: 10;
                        }

                        @if ($pStyle==Five) {
                              z-index: 16;
                        }
                  }
            }

            .main {
                  &__div {
                        &--contFiveFont {
                              font-size: 4rem;
                              margin-top: 3rem;
                        }
                  }
            }

      }