      /* Pág QUIÉNES SOMOS */
      /* ------------------------------------------ */

      .quienesSomos p {
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
            word-spacing: 0.2rem;
            color: rgb(211, 124, 223);
            font-weight: bold;
      }

      .navbar__Qsomos--Style {
            background-image: radial-gradient(rgb(243, 236, 215), rgba(252, 248, 232, 0.822)), url("(../imagenes/shinyOverlayCinco.svg");
      }

      .nav--sticky {
            position: sticky;
            top: 0;
            z-index: 3;

      }

      .wrapper {

            height: 2rem;
      }



      @each $contStyle in (One, TwoFirst, TwoSec, Three, ThreeSec, FourOne, FourTwo, Five) {
            .main__div--cont#{$contStyle} {
                  height: 500px;

                  background: {
                        position: center;
                        position-y: 30%;
                        size: cover;
                        repeat: no-repeat;
                        z-index: 2;
                  }


                  border-radius: 24px;
                  box-shadow: 40px 40px 80px #aca893,
                  -10px -3px 80px #aca893;
                  height: 60vh;


                  @if ($contStyle==One) {
                        padding-bottom: 1rem;
                        margin-top: 3rem;
                        background-image: radial-gradient(rgba(230, 199, 112, 0.644), rgba(206, 206, 201, 0.596)), url("../imagenes/quienesSomosTres.jpg");

                  }

                  @if ($contStyle==TwoFirst) {
                        margin-top: 2rem;
                        background-image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosDos.jpg");
                        padding-top: 2rem;
                  }


                  @if ($contStyle==TwoSec) {
                        margin-top: 2rem;
                        background-image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosDos.jpg");
                        padding-top: 2rem;
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                  }

                  @if ($contStyle==Three) {
                        margin-top: 3rem;

                        background: {
                              image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosSiete.jpg");
                              position-y: 70%;
                        }
                  }

                  @if ($contStyle==FourOne) {
                        margin-top: 2rem;

                        background: {
                              image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosCuatro.jpg");
                              position-x: left;
                              position-y: 50%;
                              size: 220%;
                        }


                  }

                  @if ($contStyle==FourTwo) {
                        margin-top: 2rem;

                        background: {
                              image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosCuatro.jpg");
                              position-x: right;
                              position-y: 50%;
                              size: 185%;

                        }
                  }

                  @if ($contStyle==Five) {
                        margin-top: 3rem;
                        height: 80vh;

                        background: {
                              image: radial-gradient(rgba(230, 199, 112, 0.432), rgba(206, 206, 201, 0.603)), url("../imagenes/quienesSomosSeis.jpg");
                              position-y: 60%;
                        }
                  }

            }

      }



      @each $pStyle in (One, Two, Three, Four, Five) {
            .main__div--p#{$pStyle} {

                  position: sticky;
                  position: -webkit-sticky;
                  top: 10rem;
                  z-index: 1;
                  margin-top: 5rem;

                  @if ($pStyle==One) {
                        height: 2rem;
                        margin-top: 5rem;

                  }

                  @if ($pStyle==Two) {
                        height: 2rem;
                  }

                  @if ($pStyle==Three) {
                        height: 15vh;
                  }

                  @if ($pStyle==Four) {
                        height: 10vh;

                  }

                  @if ($pStyle==Five) {
                        height: 15vh;
                  }

            }
      }




      .main__div--contFiveFont {

            margin-top: 5rem;
            font-size: 10rem;
            font-family: "Megrim";
            color: rgb(255, 233, 184);

      }








      @each $stopN in (One, Two, Three, Four, Five) {
            .div__cont--scrollStop#{$stopN} {

                  position: absolute;
                  margin-top: 3rem;
                  z-index: -1;

                  @if ($stopN==One) {
                        height: 80vh;

                  }

                  @if ($stopN==Two) {
                        height: 70vh;
                        margin-top: 3rem;
                  }

                  @if ($stopN==Three) {
                        height: 100vh;
                        margin-top: 3rem;
                  }

                  @if ($stopN==Four) {
                        height: 100vh;
                        margin-top: 3rem;
                  }

            }
      }












      /* Imágenes de los fondos de iconos */
      @each $imgIcons in (One, Two, ThreeFirst, ThreeSec, Four) {

            .main__div--iconStyle#{$imgIcons} {
                  margin-top: 6rem;
                  opacity: 0.2;

                  background: {
                        size: inherit;
                        repeat: no-repeat;
                        position-x: center;
                  }



                  @if ($imgIcons==One) {
                        background: {
                              image: url("../imagenes/quienesSomosSViol.png");
                        }
                 
                        margin-top: 8rem;
                  }


                  @if ($imgIcons==Two) {
                        background-image: url("../imagenes/quienesSomosIconoDos.png");

                  }



                  @if ($imgIcons==ThreeFirst) {
                        background-image: url("../imagenes/quienesSomosIconoTres.png");
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);

                  }



                  @if ($imgIcons==ThreeSec) {
                        background-image: url("../imagenes/quienesSomosIconoTres.png");

                  }


                  @if ($imgIcons==Four) {
                        background-image: url("../imagenes/quienesSomosIconoCinco.png");

                  }
            }
      }



      .div__pQsomos--styles {
            z-index: 100;
            position: relative;
            color: antiquewhite;
      }

      /* ---------------------------------------- */
      /*    MEDIA QUERYS INDEX */



      @media only screen and (max-width: 992px) {

      @each $stopN in (One, Two, Three, Four, Five) {
            .div__cont--scrollStop#{$stopN} {

                  position: absolute;
                  margin-top: 1rem;
                  z-index: -1;

                  @if ($stopN==One) {
                        height: 72vh;

                  }

                  @if ($stopN==Two) {
                        height: 80vh;
                        margin-top: 3rem;
                  }

                  @if ($stopN==Three) {
                        height: 80vh;
                        margin-top: 3rem;
                  }

                  @if ($stopN==Four) {
                        height: 100vh;
                        margin-top: 3rem;
                  }

            }
      }
}



@each $pStyle in (One, Two, Three, Four, Five) {
      .main__div--p#{$pStyle} {

            position: sticky;
            position: -webkit-sticky;
            top: 10rem;
            z-index: 1;
            margin-top: 2.5rem;

            @if ($pStyle==One) {
                  height: 2rem;
                  margin-top: 2rem;

            }

            @if ($pStyle==Two) {
                  height: 2rem;
            }

            @if ($pStyle==Three) {
                  height: 15vh;
            }

            @if ($pStyle==Four) {
                  height: 10vh;

            }

            @if ($pStyle==Five) {
                  height: 15vh;
            }

      }
}



      @media only screen and (max-width: 758px) {}

      @media only screen and (max-width: 576px) {}